<!DOCTYPE html>
 <html  lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Board Detail</title>
</head>
<body>
	<p th:text="${board.boardTitle}" ></p>

	<form th:action="@{/home/posts(boardId= ${board.boardId})}" method="get">
		<button type="submit">수정</button>
	</form>
	
	<form action="/board/list" method="get">
		<button type="submit">목록</button>
	</form>
	
	<form th:action="@{/board/delete(boardId = ${board.boardId})}" method="post">
		<button type="submit">삭제</button>
	</form>
	
</body>
</html>
