<!DOCTYPE html>
 <html  lang ="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head> 
	<meta charset="UTF-8">
	<title>Board List</title>
</head>
<body>
<div th:replace="~{navbar :: div}"></div>

<div class="container">

	<table class="table">
		<tr th:each="board : ${boards}">
			<td>
				<a th:href="@{/home/posts(boardId=${board.boardId})}" th:text="${board.boardTitle}"></a>
			</td>
		</tr>
	</table>
	
	<form action="/board/create" method="get">
		<button type="submit">게시판 생성</button>
	</form>
	
</div>

<!-- Footer 템플릿 포함 -->
<div th:replace="~{footer :: footer}"></div>
	
</body>
</html>