<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragment/header :: head}"></head>
	<meta charset="UTF-8">
	<title>Create Board</title>
</head>

<body>

<div th:replace="~{fragment/navbar :: div}"></div>

<br><h1 id="h1-center">게시판 생성</h1>
<form action="/board/upload" method="post">
	<div class="form-group">
    	<label for="title">게시판 이름</label>
            <input type="text" class="form-control" name="boardTitle"><br><br>
            <div class="align-center">
       			<button type="submit" class="btn btn-outline-primary">등록</button>
        	</div>
    </div>
</form>
</body>
</html>
