
.top-item {
	margin-top:25px;
}

.board-card {
	margin : 20px;
	display: flex;
	float: right;
   	flex-direction: row-reverse;
   	align-items: center;
   	justify-content: center;
}

#update-btn {
	float: right; 
	margin-left: 8px;
}
.card-grid {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin:5px;
}

.card {
	width: 20rem;
	height: 12rem;
	margin: 10px;
}

.create-btn {
	float: right;
	margin:4px;
}