
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${boardTitle}"></h1>

    <!-- posts가 비어있는 경우 메시지 표시 -->
    <div th:if="${#lists.isEmpty(posts)}" class="alert alert-warning">
        <strong>No posts found.</strong> There are currently no posts to display.
    </div>

    <!-- posts가 있는 경우 테이블 표시 -->
    <table class="table" th:if="${!#lists.isEmpty(posts)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
<!--             <th>Likes</th>
            <th>Dislikes</th> -->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postId}"></td>
            <td th:text="${post.postTitle}"></td>
            <td th:text="${post.description}"></td>
<!--             <td th:text="${post.postLike}"></td>
            <td th:text="${post.postDislike}"></td> -->
            <td>
                <a th:href="@{/home/posts/{postId}(postId=${post.postId}, boardId=${boardId})}" class="btn btn-info">View</a>
                
                <form action="/home/posts/delete" method="POST" style="display:inline;">
                	<input type="hidden" name="postId" th:value="${post.postId}">
                	<input type="hidden" name="boardId" th:value="${boardId}">
                										
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    
	<form action="/home/posts/create">
		<input type="hidden" name="boardId" th:value="${boardId}">
		<button type="submit">게시글 작성</button>
	</form>

	<form action="/board/list" method="get">
		<button type="submit">게시판 목록</button>
	</form>
		<form th:action="@{/board/update/{boardId}(boardId= ${boardId})}">
		<button type="submit">게시판 수정</button>
	</form>
	<form th:action="@{/board/delete(boardId = ${boardId})}" method="post">
		<button type="submit">게시판 삭제</button>
	</form>
	
</body>
</html>
