<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>

<body>
<div th:replace="~{navbar :: div}"></div>

<div class="container">
    <h1>Post Details</h1>
    <div>
        <h2 th:text="${post.postTitle}"></h2>
        <p th:text="'Description: ' + ${post.description}"></p>
        <p th:if="${post.createdAt} != null" th:text="'작성일: ' + ${post.createdAt}"></p>
        <p th:if="${post.createdAt} != ${post.updatedAt}" th:text="'수정일: ' + ${post.updatedAt}"></p>
<!--         <p th:text="'Likes: ' + ${post.postLike}"></p>
        <p th:text="'Dislikes: ' + ${post.postDislike}"></p> -->
        
	<div th:if="${post.imgName} !=null">
		<a th:href="@{${post.imgPath}}" class="img-fluid">첨부파일</a>
	</div>

        <a th:href="@{/home/posts(boardId = ${boardId})}" class="btn btn-secondary">Back to Posts</a>

		<form th:if="${session.user != null and session.user.userId == post.user.userId}" action="/home/posts/update">
			<input type="hidden" name="boardId" th:value="${boardId}">
			<input type="hidden" name="postId" th:value="${post.postId}">
    		<button type="submit" class="btn btn-warning">게시글 수정</button>
		</form>


<!-- 댓글 리스트 -->

<form th:action="@{/home/posts/{postId}/comments(postId=${post.postId})}" method="post">
    <textarea name="content" placeholder="댓글을 입력하세요" required></textarea>
    <input type="hidden" name="boardId" th:value="${boardId}">
    <button type="submit" class="btn btn-primary">댓글 작성</button>
</form>

        <div class="comment-list mt-4">
            <div th:each="comment : ${comments}">
    <div class="comment mb-3">
        <!-- 수정 및 삭제 버튼 -->
        <div th:if="${comment.user.userId == session.user.userId}">
            <form th:action="@{/home/posts/{postId}/comments/{commentId}/delete(postId=${post.postId}, commentId=${comment.commentId})}"
			      method="post" class="d-inline">
			    <input type="hidden" name="boardId" th:value="${boardId}">
			    <button type="submit" class="btn btn-danger btn-sm">삭제</button>
			</form>

            <a th:href="@{/home/posts/{postId}/comments/{commentId}/edit(postId=${post.postId}, commentId=${comment.commentId})}" 
               class="btn btn-warning btn-sm">수정</a>
        </div>

        <!-- 댓글 작성자의 이름을 표시하는 부분 수정 -->
        <p><strong th:text="${comment.user.name}">User Name</strong> <span th:text="${comment.commentTime}">Time</span></p>
        <p th:text="${comment.content}">Content</p>
    </div>
</div>

        </div>
    </div>
</div>



<div th:replace="~{footer :: footer}"></div>

</body>
</html>