<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.Name}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${user.Name} + ' 페이지'"></h1>
    <div>
        <h2 th:text="${user.Name}"></h2>
        <p th:text="'비밀번호: ' + ${user.password}"></p>
        <p th:text="'이메일: ' + ${user.email}"></p>
        <p th:text="'출석: ' + ${user.attendance}"></p>
        <a href="/home/users" class="btn btn-secondary">Back to users</a>
    </div>
    <hr>
    <form th:action="@{/home/user-details/{id}/delete(id=${user.userId})}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">회원탈퇴</button>
    </form>
    <h2>Update user</h2>
    <form th:action="@{/home/user-details/{id}/edit(id=${user.userId})}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${user.name}" required>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" name="password" id="password" th:value="${user.password}" required>
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" name="email" id="email" th:value="${user.email}" required>
        </div>
        <div class="form-group">
            <label for="attendance">attendance</label>
            <input type="number" class="form-control" name="attendance" id="attendance" th:value="${user.attendance}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update user</button>
    </form>
</div>
</body>
</html>
