<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{navbar :: div}"></div>
<div class="container">
    <h1 th:text="${user.Name} + ' 페이지'"></h1>
    <div>
        <h2 th:text="${user.Name}"></h2>
        <p th:text="'비밀번호: ' + ${user.password}"></p>
        <p th:text="'이메일: ' + ${user.email}"></p>
        <p th:text="'출석: ' + ${user.attendance}"></p>
        <a href="/board/list" class="btn btn-secondary">Back to Boards</a>
        <a th:href="@{/home/user-update/{id}(id=${user.userId})}" class="btn btn-secondary">유저 정보 수정</a>

    </div>
    <hr>
    <form th:action="@{/home/user-details/{id}/delete(id=${user.userId})}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">회원탈퇴</button>
    </form>

    <h2>작성한 게시물</h2>
    <table th:if="${postsPage != null}" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>게시판 이름</th>
            <th>작성일</th>
            <th>보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postsPage.content}">
            <td th:text="${post.postId}"></td>
            <td th:text="${post.postTitle}"></td>
            <td th:text="${post.createdAt}"></td>
            <td>
                <a th:href="@{/home/posts/{postId}(postId=${post.postId},boardId=${post.board.boardId})}" class="btn btn-info">게시물 보러 가기</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <nav th:if="${postsPage.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 버튼 -->
            <li th:classappend="${postsPage.hasPrevious()} ? '' : 'disabled'" class="page-item">
                <a th:href="@{/home/user-details/{userId}(userId=${user.userId},postPage=${postsPage.number > 0 ? postsPage.number - 1 : 0})}" class="page-link">Previous</a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="i : ${#numbers.sequence(0, postsPage.totalPages - 1)}" th:classappend="${i == postsPage.number} ? 'active'" class="page-item">
                <a th:href="@{/home/user-details/{userId}(userId=${user.userId},postPage=${i})}" th:text="${i + 1}" class="page-link"></a>
            </li>

            <!-- 다음 페이지 버튼 -->
            <li th:classappend="${postsPage.hasNext()} ? '' : 'disabled'" class="page-item">
                <a th:href="@{/home/user-details/{userId}(userId=${user.userId},postPage=${postsPage.number + 1 < postsPage.totalPages ? postsPage.number + 1 : postsPage.totalPages - 1})}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>

    <h2>작성한 댓글</h2>
    <table th:if="${commentsPage != null}" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>내용</th>
            <th>작성일</th>
            <th>보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${commentsPage.content}">
            <td th:text="${comment.commentId}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.commentTime}"></td>
            <td>
                <a th:href="@{/home/posts/{postId}(postId=${comment.post.postId},boardId=${comment.post.board.boardId})}" class="btn btn-info">
                    댓글 보러 가기
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--댓글 페이지네이션 -->
    <nav th:if="${commentsPage.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 버튼 -->
            <li th:classappend="${commentsPage.hasPrevious()} ? '' : 'disabled'" class="page-item">
                <a th:href="@{/home/user-details/{userId}(userId=${user.userId},commentPage=${commentsPage.number > 0 ? commentsPage.number - 1 : 0})}" class="page-link">Previous</a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="i : ${#numbers.sequence(0, commentsPage.totalPages - 1)}" th:classappend="${i == commentsPage.number} ? 'active'" class="page-item">
                <a th:href="@{/home/user-details/{userId}(userId=${user.userId},commentPage=${i})}" th:text="${i + 1}" class="page-link"></a>
            </li>

            <!-- 다음 페이지 버튼 -->
            <li th:classappend="${commentsPage.hasNext()} ? '' : 'disabled'" class="page-item">
                <a th:href="@{/home/user-details/{userId}(userId=${user.userId},commentPage=${commentsPage.number + 1 < commentsPage.totalPages ? commentsPage.number + 1 : commentsPage.totalPages - 1})}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>


</div>
<div th:replace="~{footer :: footer}"></div>
</body>

</html>
